# Auto detect text files and perform LF normalization
* text=auto

# Ensure shell scripts, python scripts and Docker configs always retain LF
*.sh text eol=lf
*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
Dockerfile text eol=lf
.dockerignore text eol=lf
requirements.txt text eol=lf
